<div class="footer">
	<div class="w">
		<div class="links">
			<a href="http://www.imooc.com" target="_blank" class="link">
				慕课网
			</a>|
			<a href="http://www.baidu.com" target="_blank" class="link">
				百度
			</a>|
			<a href="http://www.zhihu.com" target="_blank" class="link">
				知乎
			</a>|
			<a href="http://www.taobao.com" target="_blank" class="link">
				淘宝
			</a>
		</div>
		<p class="copyright">
			Copyright &copy; 2018 happymmall.com All Right Reserved
		</p>
	</div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>